@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* UMUM */
/* Custom nama variabel CSS*/
:root {
    --dark-purple: #1C0C5B;
    --purple: #3d2c8d;
    --pinkish-purple: #916bbf;
    --pink: #C996CC;
    --text-color: #ffffff;

    --primary: #ea40a4;
    --urgent: #3a82ee;
    --notUrgent: var(--primary);
    --light: #eee;
    --grey: #888;
    --dark: black;
    --danger: #ff5b57;

    --shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

    --urgent-glow: 0px 0px 4px rgba(58, 130, 238, 0.75);
    --notUrgent-glow: 0px 0px 4px rgba(234, 64, 164, 0.75);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    min-height: 100vh;
    margin: 0;
    background-attachment: fixed;
    background: linear-gradient(0deg, #C996CC, #3d2c8d);
}

/* NAVBAR */
.navbar-container {
    display: flex;
    background-color: var(--dark-purple);
    padding: 10px;
    position: sticky;
}

.navbar-left {
    flex: 2;
    padding: 10px;
}

.navbar-title {
    font-size: 20px;
    color: var(--text-color);
}

.navbar-right {
    flex: 3;
}

.navbar-items {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-right: 30px;
}

.navbar-items a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: 600;
    margin-right: 30px;
}

.navbar-items a:hover {
    color: var(--pink);
    transition: all ease 0.3s;
}
