.ourTeam-container {
    box-sizing: border-box;
}

.ourTeam-container h2 {
    text-align: center;
    margin: 100px auto 50px;
    font-size: 50px;
}

.ourTeam-container .member {
    display: flex;
    flex-wrap: wrap;
}

.member .member-box {
    width: 100%;
    padding: 0.5em 0;
}

.member .member-container {
    background-color: rgba(255, 255, 255, 0.723);
    border-radius: 1.5rem;
    padding: 3.5em 1em;
    text-align: center;
    box-shadow: 5px 5px 30px rgb(46, 46, 46);
    cursor: pointer;
    transition: 0, 5s;
}

.member-container:hover {
    background: linear-gradient(#8573dd, #4d4375);
    color: #ffffff;
}


.member-container:hover .fab {
    color: #ffffff;
}

.member-container:hover .fa {
    color: #ffffff;
}

.img-container {
    width: 8em;
    height: 8em;
    background-color: #3d2c8d;
    padding: 0.5em;
    border-radius: 50%;
    margin: 0 auto 2em auto;
}

.member-container img {
    width: 100%;
    border-radius: 50%;
}

.member-container:hover .img-container {
    transform: scale(1.15);
}

.member-container h1 {
    margin: 10px auto 10px;
    font-size: 20px;
}

.ourTeam-container .fab {
    margin: 20px 10px 20px;
    color: #3d2c8d;
    text-decoration: none;
    font-size: 20px;
}

.ourTeam-container .fa {
    margin: 20px 10px 20px;
    color: #3d2c8d;
    text-decoration: none;
    font-size: 20px;
}

@media screen and (min-width: 768px) {
    section {
        padding: 1em 7em;
    }
}

@media screen and (min-width: 992px) {
    section {
        padding: 1em;
    }

    .member-container {
        padding: 5em 1em;
    }

    .member-box {
        flex: 0 0 23%;
        max-width: 23%;
        margin: 0.5em auto;
    }
}